* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);


}

.main-div {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}

.main-div h1 {
    font-size: 30px;
    font-weight: 600;
}

.input-field {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.input-field input {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;

}

.input-field .fa-plus {
    width: 60px;
    height: 100%;
    border: none;
    background: #8E49E8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
    padding: 10px 20px;
}

.input-field .fa-plus:hover {
    background: #563281;
}

.input-field .fa-edit {
    right: 0px;
}

.fa-edit:hover {
    background: #563281;
}

.showItem {
    max-height: 300px;
    overflow-y: auto;
}

.each-items {
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding-left: 10px;
    overflow: hidden;


}

.fa-edit {
    position: absolute;
    top: 0;
    right: -45px;
    height: 100%;
    padding-top: 12px;
    color: #fff;
    width: 45px;
    text-align: center;
    background: #8E49E8;
    border-radius: 0px 3px 3px 0px;
    cursor: default;
    transition: all 0.3s ease;
}

.each-items:hover .fa-edit {
    right: 45px;
}

.showItem .fa-trash-alt {
    position: absolute;
    top: 0;
    right: -45px;
    height: 100%;
    padding-top: 12px;
    color: #fff;
    width: 45px;
    text-align: center;
    background: #e74c3c;
    border-radius: 0px 3px 3px 0px;
    cursor: default;
    transition: all 0.3s ease;
}

.each-items:hover .fa-trash-alt {
    right: 0px;
}

.show-btn {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: right;
}

.btn {
    border: none;
    background: #8E49E8;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;

}